@import "tailwindcss";



@layer base {
  body {
    @apply bg-[#050505] text-slate-200 antialiased selection:bg-pink-500/30;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom Scrollbar for that Sleek Look */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #222; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #333; }